@namespace FisSst.BlazorMaps.Examples

<div class="navbar">
    <a class="logo-wrapper" href="https://fis-sst.pl/">
        <img class="logo" src="/assets/images/fis-sst_logo.svg" asp-append-version="true" />
    </a>

    <NavLink class="button-wrapper nav-link" href="" Match="NavLinkMatch.All">
        <div class="circle"></div>
        <span class="label">Initialization</span>
    </NavLink>
    <NavLink class="button-wrapper nav-link" href="markers">
        <div class="circle"></div>
        <span class="label">Markers</span>
    </NavLink>
    <NavLink class="button-wrapper nav-link" href="objects">
        <div class="circle"></div>
        <span class="label">Objects</span>
    </NavLink>
    <NavLink class="button-wrapper nav-link" href="events">
        <div class="circle"></div>
        <span class="label">Events</span>
    </NavLink>
    <NavLink class="button-wrapper nav-link" href="popups">
        <div class="circle"></div>
        <span class="label">Popups</span>
    </NavLink>
</div>
