<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Initialization
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="markers">
                <span class="oi oi-plus" aria-hidden="true"></span> Markers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="objects">
                <span class="oi oi-plus" aria-hidden="true"></span> Objects
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="oi oi-plus" aria-hidden="true"></span> Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="popups">
                <span class="oi oi-plus" aria-hidden="true"></span> Popups
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
