@page "/events"

@inject IJSRuntime JsRuntime
@inject IMarkerFactory MarkerFactory
@inject IPolygonFactory PolygonFactory
@inject ICircleFactory CircleFactory

<h1>Events</h1>

<Map @ref="MapRef" MapOptions="@MapOptions"></Map>

<button @onclick="async () => await AddEventToMap()">Add Markers</button>
<button @onclick="async () => await AddPolygonToMap()">Add Polygon</button>
<button @onclick="async () => await AddCircleToMap()">Add Circle</button>

<style>
    #mapId {
        height: 600px;
    }
</style>

@code {
    private Map MapRef;

    private Polygon Polygon;

    private Circle Circle;

    private MapOptions MapOptions = new MapOptions()
    {
        DivId = "mapId",
        Center = new LatLng(50.279133, 18.685578),
        Zoom = 13,
        UrlTileLayer = "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
        SubOptions = new MapSubOptions()
        {
            Attribution = "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
            MaxZoom = 18,
            Id = "mapbox/streets-v11",
            TileSize = 512,
            ZoomOffset = -1,
            AccessToken = "pk.eyJ1Ijoia2luZ2FmaXMiLCJhIjoiY2tmZ3Zia2hpMHNtNzJyb3VlbWQweWJsdSJ9.5SH3Hdaoi6cnlxZ5SfUL5w"
        }
    };

    private async Task AddEventToMap()
    {
        Marker marker = await this.MarkerFactory.CreateAndAddToMap(new LatLng(50.278133, 18.683578), MapRef);
        await marker.OnClick(async (MouseEvent mouseEvent) => await HandleMouseEvent(mouseEvent));
        Marker marker2 = await this.MarkerFactory.CreateAndAddToMap(new LatLng(50.277133, 18.670578), MapRef);
        await marker2.OnContextMenu(async (MouseEvent mouseEvent) => await HandleMouseEvent(mouseEvent));
        Marker marker3 = await this.MarkerFactory.CreateAndAddToMap(new LatLng(50.255133, 18.66578), MapRef);
        await marker3.OnDblClick(async (MouseEvent mouseEvent) => await HandleMouseEvent(mouseEvent));
    }

    private async Task HandleMouseEvent(MouseEvent mouseEvent)
    {
        await this.JsRuntime.InvokeVoidAsync("alert", $"Event type: {mouseEvent.Type} Lat: {mouseEvent.LatLng.Lat}, Lng: {mouseEvent.LatLng.Lng}");
    }

    private async Task AddPolygonToMap()
    {
        LatLng FirstLatLng = new LatLng(50.2905456, 18.634743);
        LatLng SecondLatLng = new LatLng(50.287532, 18.615791);
        LatLng ThirdLatLng = new LatLng(50.295247, 18.579297);
        Polygon = await this.PolygonFactory.CreateAndAddToMap(new List<LatLng> { FirstLatLng, SecondLatLng, ThirdLatLng }, MapRef);
        await Polygon.OnClick(async (MouseEvent mouseEvent) => await ChangePolygonStyle());
    }

    private async Task ChangePolygonStyle()
    {
        PolygonOptions PolygonOptions = new PolygonOptions()
        {
            Weight = 5,
            Color = "green"
        };

        await Polygon.SetStyle(PolygonOptions);
    }

    private async Task AddCircleToMap()
    {
        CircleOptions CircleOptionsInit = new CircleOptions()
        {
            Radius = 300
        };

        Circle = await this.CircleFactory.CreateAndAddToMap(new LatLng(50.263766, 18.705137), MapRef, CircleOptionsInit);
        await Circle.OnClick(async (MouseEvent mouseEvent) => await ChangeCircleStyle());
    }

    private async Task ChangeCircleStyle()
    {
        CircleOptions CircleOptions = new CircleOptions()
        {
            Color = "green"
        };

        await Circle.SetLatLng(new LatLng(50.283783, 18.724827));
    }
}