@page "/"

@inject IJSRuntime jsRuntime

<h1>Initialization</h1>

<Map @ref="MapRef" MapOptions="@MapOptions"></Map>

<button @onclick="async () => await GetCenterExample()">Get Center</button>
<button @onclick="async () => await MapRef.SetView(Center)">Set View</button>
<button @onclick="async () => await MapRef.SetZoom(zoom: 16)">Set Zoom</button>
<button @onclick="async () => await MapRef.ZoomIn(zoomDelta: 1)">Zoom in</button>
<button @onclick="async () => await MapRef.ZoomOut(zoomDelta: 3)">Zoom out</button>
<button @onclick="async () => await MapRef.SetZoomAround(Center, zoom: 10)">Set Zoom Around</button>

<style>
    #mapId {
        height: 600px;
    }
</style>

@code {
    private Map MapRef;

    private static readonly LatLng Center = new LatLng(50.279133, 18.685578);

    private MapOptions MapOptions = new MapOptions()
    {
        DivId = "mapId",
        Center = Center,
        Zoom = 13,
        UrlTileLayer = "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
        SubOptions = new MapSubOptions()
        {
            Attribution = "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
            MaxZoom = 18,
            Id = "mapbox/streets-v11",
            TileSize = 512,
            ZoomOffset = -1,
            AccessToken = "pk.eyJ1Ijoia2luZ2FmaXMiLCJhIjoiY2tmZ3Zia2hpMHNtNzJyb3VlbWQweWJsdSJ9.5SH3Hdaoi6cnlxZ5SfUL5w"
        }
    };

    private async Task GetCenterExample()
    {
        LatLng center = await MapRef.GetCenter();
        await jsRuntime.InvokeAsync<string>("alert", $"Wycentrowanie mapy w: Lat: {center.Lat}, Lng: {center.Lng}");
    }
}