@page "/markers"

@inject IJSRuntime JsRuntime
@inject IMarkerFactory MarkerFactory
@inject IIconFactory IconFactory

<h1>Markers</h1>

<Map @ref="MapRef" MapOptions="@MapOptions"></Map>

<button @onclick="async () => await AddMarkers()">Add Markers</button>
<button @onclick="async () => await RemoveMarkers()">Remove Markers</button>
<button @onclick="async () => await AddMarkerWithOptions()">Add Marker with options</button>
<button @onclick="async () => await RemoveMarkerWithOptions()">Remove Marker with options</button>

<style>
    #mapId {
        height: 600px;
    }
</style>

@code {
    private Map MapRef;

    private static readonly LatLng FirstMarkerLatLng = new LatLng(50.284324, 18.664683);
    private static readonly LatLng SecondMarkerLatLng = new LatLng(50.285495, 18.691064);
    private static readonly LatLng ThirdMarkerLatLng = new LatLng(50.279103, 18.685534);
    private static readonly LatLng MarkerWithOptionsLatLng = new LatLng(50.273103, 18.684534);

    private Marker MarkerWithOptions;

    Marker marker1 = null;
    Marker marker2 = null;
    Marker marker3 = null;

    private MapOptions MapOptions = new MapOptions()
    {
        DivId = "mapId",
        Center = new LatLng(50.279133, 18.685578),
        Zoom = 13,
        UrlTileLayer = "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
        SubOptions = new MapSubOptions()
        {
            Attribution = "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
            MaxZoom = 18,
            Id = "mapbox/streets-v11",
            TileSize = 512,
            ZoomOffset = -1,
            AccessToken = "pk.eyJ1Ijoia2luZ2FmaXMiLCJhIjoiY2tmZ3Zia2hpMHNtNzJyb3VlbWQweWJsdSJ9.5SH3Hdaoi6cnlxZ5SfUL5w"
        }
    };

    private async Task AddMarkers()
    {
        marker1 = await this.MarkerFactory.CreateAndAddToMap(FirstMarkerLatLng, MapRef);
        marker2 = await this.MarkerFactory.CreateAndAddToMap(SecondMarkerLatLng, MapRef);
        marker3 = await this.MarkerFactory.CreateAndAddToMap(ThirdMarkerLatLng, MapRef);
    }

    private async Task RemoveMarkers()
    {
        await marker1.Remove();
        await marker2.Remove();
        await marker3.Remove();
    }

    private async Task AddMarkerWithOptions()
    {
        IconOptions iconOptions = new IconOptions()
        {
            IconUrl = "https://www.flaticon.com/svg/static/icons/svg/3214/3214679.svg",
        };
        MarkerOptions markerOptions = new MarkerOptions()
        {
            Draggable = true,
            Icon = await this.IconFactory.Create(iconOptions),
        };
        this.MarkerWithOptions = await this.MarkerFactory.CreateAndAddToMap(MarkerWithOptionsLatLng, MapRef, markerOptions);
    }

    private async Task RemoveMarkerWithOptions()
    {
        await this.MarkerWithOptions.Remove();
    }
}